/* reset */

* {
  padding: 0;
  margin: 0;
  font-size: 1em;
  box-sizing: border-box;
}

/* general */

html {
  font-size: 16px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  background-color: white;
}

/* header */

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* header - nav */

@media screen and (max-width: 575px) {
  .logo {
    grid-column: span 12;
  }
  .nav {
    grid-column: span 12;
  }
}

.logo {
  grid-column: span 6;
}

header a {
  text-decoration: none;
}

header a:link, a:visited {
  color: #777;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  vertical-align: middle;
}

.logo p {
  font-size: 2em;
  margin: 0;
  margin-left: 60px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.nav {
  grid-column: span 6;
  text-align: right;
}

div.nav>ul {
  float: right;
  margin-right: 10px;
}

.nav li {
  float: left;
  list-style-type: none;
  position: relative;
  background-color: white;
}

.nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 45px;
}

.nav li a:hover {
  background-color: rgb(230, 230, 230);
}

.nav li ul {
  display: none;
  position: absolute;
}

.nav li:hover ul {
  display: block;
}

/* header - menu */

.menu {
  grid-column: span 12;
  background-color: #CFD8DC;
  display:block;
  height: 30px;
}

.menu li {
  float: left;
  list-style-type: none;
}

.menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 1200;
  width: 90px;
  height: 30px;
  text-decoration: none;
}

.menu a:link, a:visited {
 color: #777;
}

.menu-text {
	color: #607D8B;
}
.logo-text {
	color: #263238;
	font-family: 'Roboto Slab', serif;
}
.signature {
	color: #607D8B;
	font-family: 'Gochi Hand', serif;
}

/* main */

main {
  line-height: 1.6em;
  margin: 0 auto;
  padding: 1em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1 a {
  text-decoration: none;
}

h1 a:link, a:visited {
  color: black;
}

h2 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 15px;
}

h2 a {
  text-decoration: none;
}

h2 a:link, a:visited {
  color: black;
}

h3 {
  font-family: Cantarell, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 15px;
}

h3 a {
  text-decoration: none;
}

h3 a:link, a:visited {
  color: black;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

main ul {
  padding-left: 2.5em;
}

article {
  padding: 1em;
}

code {
    background: #EEE;
    font-family: Courier, monospace;
    line-height: 1.4em;
}

pre {
    background: #EEE;
    font-family: Courier, monospace;
    line-height: 1.2em;
    overflow-x: scroll;
    padding: 1.2em;
    max-width: 100%;
}

footer {
    font-weight: 300;
    color: #ccc;
    text-align: center;
}

.cols {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@media screen and (max-width: 575px) {
  .l-col {
    grid-column: span 12;
  }
  .r-col {
    grid-column: span 12;
  }
}

.l-col {
    grid-column: span 8;
    padding: 0 1em 0 0;
}

.r-col {
    grid-column: span 4;
    padding: 0 0 0 1em;
}

.box {
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    background-color: #6BD5F1;
    border: 1px solid #AFCDE3;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.topcorner {
    top: 2;
    left: 2;
    font-size: 0.75em;
}

.centre {
    text-align: center;
}

.article-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15px;
}

.article-title>a {
    text-decoration: none;
    color: black;
}

.article-date {
    font-size: 1em;
    font-style: italic;
}

.content {
    margin: 0 auto;
    padding: 0 1em;
    border: 0;
    max-width: 1200px;
    line-height: 1.6em;
}

.signature-text {
    font-size: 1.5em;
}

.signature a {
    text-decoration: none;
}

/* Table style */

table {
  border-collapse: collapse;
}

caption {
	font-weight: bold;
	font-size: 1.25em;
	text-align: left;
	color: #333;
	margin-bottom: 16px;
}

thead {
  background-color: #333;
  color: white;
  font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}