.menu {
	background-color: #CFD8DC;
}
.menu-text {
	color: #607D8B;
}
.logo-text {
	color: #263238;
	font-family: 'Roboto Slab', serif;
}
.signature {
	color: #607D8B;
	font-family: 'Gochi Hand', serif;
}