img.upload{
	display: block;
	margin-left: auto;
    margin-right: auto; 
}

body {
   padding-top: 40px;
   padding-bottom: 40px;
}

.tryheader {
	text-align: center
}
/*
     FILE ARCHIVED ON 04:01:03 Jul 17, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:51:56 Jul 11, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 1.214
  captures_list: 0.546
  exclusion.robots: 0.053
  exclusion.robots.policy: 0.043
  esindex: 0.008
  cdx.remote: 13.244
  LoadShardBlock: 197.022 (3)
  PetaboxLoader3.datanode: 185.818 (4)
  load_resource: 126.897
  PetaboxLoader3.resolve: 104.625
*/