{{define "title"}}IT for archivists{{end}}

{{define "content"}}
        <div class="jumbotron">
    	<h1>Welcome! ...to a vanity site for Richard Lehane.</h1>
        <p><img src="img/me_bit.png" alt="Richard's portrait"> <a href="https://github.com/richardlehane" class="btn btn-primary btn-lg">Check out my stuff on Github</a></p>
    </div>

	<div class="row">
        <div class="col-md-4">
        <div class="page-header">
          <h2>Siegfried</h2>
        </div>
          <p>Siegfried is a signature-based file format identification tool</p>
          <p>It implements:</p>
            <ul>
            <li>the National Archives UK's <a class="text-danger" href="http://www.nationalarchives.gov.uk/pronom">PRONOM</a> file format signatures</li>
            <li>freedesktop.org's <a class="text-danger" href="https://freedesktop.org/wiki/Software/shared-mime-info/">MIME-info</a> file format signatures</li>
            <li>the Library of Congress's <a class="text-danger" href="http://www.digitalpreservation.gov/formats/fdd/descriptions.shtml">FDD</a> file format signatures (<strong>beta</strong>).</li>
          </ul>
          <p><a class="btn" href="siegfried">View more</a></p>
        </div>
        <div class="col-md-4">
          <div class="page-header">
          <h2>Comdump</h2>
        </div>
          <p>Comdump is a handy little tool for digging inside of MS Compound File Binary File format objects. This storage format is used all over the place in Windows applications and it is often very useful to be able to peek inside. Comdump's basic functionality is just to unpack the object and dump the contents to disk. It also has a -meta flag that allows you to view any metadata encoded within the object (such as application IDs and create/modified dates) and a -thumbs flag that lets you unpack Thumbs.db files. </p>
          <p><a class="btn" href="https://github.com/richardlehane/comdump">View on Github</a></p>
       </div>
        <div class="col-md-4">
          <div class="page-header">
          <h2>XML Tool</h2>
        </div>
          <p>I made XMLtool when I was confronted with a bunch of illegally formatted XML files that had just been dumped from a database. Because of all of the bad formatting within (particularly unescaped characters), these files were impossible to open in any XML editor. XMLtool fixes files like these. It also has an -audit flag that lets you report on the contents of a whole series of XML files.</p>
          <p><a class="btn" href="https://github.com/richardlehane/xmltool">View on Github</a></p>
        </div>
    </div>
{{end}}

{{define "js"}}{{end}}