{{define "title"}}sets{{end}}

{{define "content"}}
<div class="row">
	<div class="col-md-12">
	<div  class="jumbotron">
	<p><strong><a class="text-danger" href="https://github.com/richardlehane/siegfried/wiki/Building-a-signature-file-with-ROY#format-sets-optional-step">Sets</a></strong> are a feature of the <strong>roy</strong> tool. They allow you to select groups of formats when building custom signatures. E.g. with a command like `roy build -limit @pdf`. These format sets can be useful in other contexts, for example when defining a software workflow that only operates on certain types of files. You might, for example, want to isolate all the PUIDs for the formats that Apache Tika can text extract. Or the audio-visual files that Exiftool can generate metadata for. The <a class="text-danger" href="sets">sets tool</a> allows you to generate these sets online, as well as golang and python code snippets that you can use when coding workflows.</p>
	</div>
	<p><strong>Note: </strong> This tool isn't tested to work on all browsers, and probably won't! Modern Chrome, Firefox, or IE should all be fine.</p>
    <p><strong>Note 2: </strong> This tool uses the format sets packaged with siegfried. To improve coverage, <a class="text-danger" href="https://github.com/richardlehane/siegfried/wiki/Cool-tasks#format-sets">contribute sets</a> to siegfried.</p>
    <p><strong>Note 3: </strong> If you prefer to work locally, the golang package that powers this tool is available <a class="text-danger" href="https://github.com/richardlehane/pronom">on Github</a>.</p>
	</div>
	<div class="col-md-5">
	<h1>The Sets Tool</h1>
	<p>1. Select one or more PUIDs (e.g. fmt/111) or sets (prefixed with the '@' symbol, e.g. @pdf or @83).</p>
	<form>
	<div id="addlist"><fieldset class="form-group" ><input id="addset"type="text" name="set" list="sets" placeholder="Enter puid or @set"><datalist id="sets">{{range .}}<option value="@{{.}}">@{{.}}</option>{{end}}</datalist>&nbsp;<button type="button" onclick="add()">add</button><fieldset><div>
		<p>
		<fieldset class="form-group" >
			<input type="submit" value="submit" class="form-control">
		</fieldset >
		</p>
	</form>
	<div>
		<p>2. Choose your output format: plain text or a code snippet with a function that matches an input PUID against a set.</p>
		<p>
			<select onchange="changeMode(this)" class="form-control">
    			<option value="text">text</option>
                <option value="text-nl">text (new lines)</option>
    			<option value="golang">golang</option>
    			<option value="python">python</option>
			</select>
		</p>
		<textarea id="results" rows="20" cols="80"></textarea>
		<button onclick="cp()">Copy to clipboard</button>
	</div>
	</div>
</div>
{{end}}

{{define "js"}}
<script>
	var sets;
	var textFn = function(){
    	if(!sets) {
    		return
    	};
    	var text = sets[0]
    	for (i = 1; i < sets.length; i++) { 
    		if (i > 0) {
    			text += ", "
    		}
    		text += sets[i]
		}
    	$( "#results" ).html(text);
    };
    var textnlFn = function(){
        if(!sets) {
            return
        };
        var text = sets[0]
        for (i = 1; i < sets.length; i++) { 
            if (i > 0) {
                text += "\n"
            }
            text += sets[i]
        }
        $( "#results" ).html(text);
    };
    var goFn = function(){
    	if(!sets) {
    		return
    	};
    	var text = "func IsType(puid string) bool {\n    switch puid {\n    case "
    	for (i = 0; i < sets.length; i++) { 
    		if (i > 0) {
    			text += ", "
    		}
    		text += '"' + sets[i] + '"'
		}
		text += ":\n        return true\n    }\n    return false\n}"
    	$( "#results" ).html(text);
    };
    var pyFn = function(){
    	if(!sets) {
    		return
    	};
    	var text = "def IsType(puid):"
    	line = "\n    return puid in ["
    	for (i = 0; i < sets.length; i++) { 
    		if (i > 0) {
    			line += ", "
    		}
    		if (line.length > 70) {
    			text += line.substring(0, line.length - 1)
    			line = "\n                    "
    		}
    		line += "'" + sets[i] + "'"
		}
		text += line +  "]\n"
    	$( "#results" ).html(text);
    };
	var fn = textFn;
    $("form").submit(function(event) {
    	event.preventDefault();
    	sets = $(this).serializeArray();
    	$.ajax({
		url: "sets", 
		method: "POST",
		dataType: "json",
		traditional: true,
		data: sets,
  		success: function( data ) {
  			sets = data;
    		fn();
 		}
		});
    });
    function changeMode(m) {
    	if(m.value == "text") {
    		fn = textFn;
    	} else if (m.value == "text-nl") {
            fn = textnlFn; 
        } else if (m.value == "golang") {
    		fn = goFn;
    	} else if (m.value == "python") {
    		fn = pyFn;
    	}
    	fn();
    };
    function add() {
    	$("#addlist").prepend('<div id="addlist"><fieldset class="form-group" ><input id="addset"type="text" name="set" list="sets" placeholder="Enter puid or @set"><datalist id="sets">{{range .}}<option value="@{{.}}">@{{.}}</option>{{end}}</datalist>&nbsp;<button type="button" onclick="add()">add</button>&nbsp;<button type="button" onclick="del(this)">del</button><fieldset><div>');
    }
    function del(el) {
    	$(el).parent().remove()
    }
    function cp() {
  		$("#results").select();
		document.execCommand("copy");
	}
</script>
{{end}}