{{ partial "header" . }}
<main class="cols">
<div class="l-col">
{{ .Content }}
</div>
<div class="r-col">
<h2>Try siegfried</h2>
<div id="upload" ondrop="drop_handler(event)" ondragover="event.preventDefault();">
  <p><img src="img/siegfried.png" alt="Richard's portrait"></p>
  <p>Drag a file on to Siegfried's anvil!</p>
</div>
<hr>
<h2>Chart your results</h2>
<p>Upload a siegfried, droid or fido results file for analysis and sharing.</p>
<p>You'll get a page like this: <a href="/siegfried/results/ea1zaj">https://www.itforarchivists.com/siegfried/results/ea1zaj</a></p>
<div id="chart">
 <form action="/siegfried/results" method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="submit" value="submit">
</form> 
</div>
<hr>
<h2>Benchmarks</h2>
<p>See how siegfried compares with other format identification tools by viewing these <a href="/siegfried/benchmarks">automated benchmarks</a>.</p>
<p>Benchmarks are run each time new code is committed to siegfried's <a href="https://github.com/richardlehane/siegfried/tree/develop">develop branch</a>. To see how the next release is progressing, check out the <a href="/siegfried/develop">develop benchmarks</a>.</p>
<hr>
<h2>Sets tool</h2>
<p><a href="https://github.com/richardlehane/siegfried/wiki/Building-a-signature-file-with-ROY#format-sets-optional-step">Format sets</a> enable grouping of formats by the sf and roy tools: e.g. <code>roy build -limit @pdf</code>. They can be useful elswhere, e.g. to isolate the formats <a href="https://tika.apache.org/">Apache Tika</a> can extract text from. This widget converts format sets to plain text or code snippets.</p>
<p>1. <strong>Select one or more PUIDs or sets</strong> (e.g. fmt/123 or @pdf). Sets are prefixed with the '@' symbol.</p>
<!-- hidden element for cloning -->
<div id="addlist" style="display: none;">
  <fieldset>
    <input id="addset" type="text" name="set" list="sets" placeholder="Enter puid or @set" size="15">
    <datalist id="sets">{{ range $.Site.Data.siegfried.Keys }}<option value="@{{.}}">@{{ . }}</option>{{ end }}</datalist>&nbsp;
    <button type="button" onclick="add()">add</button>&nbsp;
    <button type="button" onclick="del(this)">del</button>
  </fieldset>
  </div>
<form id="sets-form">
  <div>
  <fieldset>
    <input id="addset" type="text" name="set" list="sets" placeholder="PUID or @set" size="15">
    <datalist id="sets">{{ range $.Site.Data.siegfried.Keys }}<option value="@{{.}}">@{{ . }}</option>{{ end }}</datalist>&nbsp;
    <button type="button" onclick="add()">add</button>
  </fieldset>
  </div>
  <fieldset>
    <input type="submit" value="submit">
  </fieldset >
</form>
<p>2. <strong>Choose your output format</strong> (plain text or a code snippet with a function that matches an input PUID against a set.)</p>
<div>
<p>
  <select onchange="changeMode(this)">
    <option value="text">text</option>
    <option value="text-nl">text (new lines)</option>
    <option value="golang">golang</option>
    <option value="python">python</option>
  </select>
</p>
<textarea id="results" rows="10" cols="35"></textarea>
<button onclick="cp()">Copy to clipboard</button>
</div>
</div>
</div>
<script src="js/sets.js"></script>
<script src="js/siegfried.js"></script>
</main>
{{ partial "footer" . }}
